@import '../../../global/globalstyles.css';

.gallery-container {
    width: 80%;
    margin: auto;
    position: relative;
}

.gallery-flex {
    display: flex;
}

.video-container {
    width: 65%;
    height: auto;
    min-height: 300px;
    position: relative;
}
.thumbnails {
    position: relative;
    width: 30%;
    height: auto;
    margin: 1em;
    margin-right: 0;
    margin-top: 0;
}

.video-inner-container{
    opacity: 1;
    transition: opacity ease-in-out 0.5s;
}

.mobile-edge-blur {
    display: none;
    width: 10%;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    z-index:1;
    right: 0;
    pointer-events: none;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 8.1%, rgba(255, 255, 255, 0.047) 15.5%, rgba(255, 255, 255, 0.106) 22.5%, rgba(255, 255, 255, 0.176) 29%, rgba(255, 255, 255, 0.26) 35.3%, rgba(255, 255, 255, 0.353) 41.2%, rgba(255, 255, 255, 0.45) 47.1%, rgba(255, 255, 255, 0.55) 52.9%, rgba(255, 255, 255, 0.647) 58.8%, rgba(255, 255, 255, 0.74) 64.7%, rgba(255, 255, 255, 0.824) 71%, rgba(255, 255, 255, 0.894) 77.5%, rgba(255, 255, 255, 0.953) 84.5%, rgba(255, 255, 255, 0.99) 91.9%, rgb(255, 255, 255) 100%);
}

@media only screen and (max-width: 1200px){
    .gallery-container {
        max-width: 100%;
        padding: 1em;
    }
}

@media only screen and (max-width: 1100px){
    .gallery-container {
        width: auto;
        padding: 1em;
        margin: auto;
        overflow: hidden;
    }
    .video-container {
        width: auto;
        padding: 1em;
    }

    .gallery-flex{
        flex-direction: column;
    }

    .thumbnails {
        display: flex;
        width: auto;
        overflow-x: scroll;
        margin-right: 1em;
    }

    /* .mobile-edge-blur {
        display: block;
    } */

    .gallery-flex::after{
        content: "";
        width: 20%;
        height: 240px;
        opacity: 0.7;
        position: absolute;
        z-index: 1;
        right: 2em;
        bottom: 0;
        pointer-events: none;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 8.1%, rgba(255, 255, 255, 0.047) 15.5%, rgba(255, 255, 255, 0.106) 22.5%, rgba(255, 255, 255, 0.176) 29%, rgba(255, 255, 255, 0.26) 35.3%, rgba(255, 255, 255, 0.353) 41.2%, rgba(255, 255, 255, 0.45) 47.1%, rgba(255, 255, 255, 0.55) 52.9%, rgba(255, 255, 255, 0.647) 58.8%, rgba(255, 255, 255, 0.74) 64.7%, rgba(255, 255, 255, 0.824) 71%, rgba(255, 255, 255, 0.894) 77.5%, rgba(255, 255, 255, 0.953) 84.5%, rgba(255, 255, 255, 0.99) 91.9%, rgb(255, 255, 255) 100%);
    }
}

@media only screen and (max-width: 650px){
    .gallery-flex::after{
        height: 200px;
    }
    .video-container {
        padding-bottom: 0;
    }
}


@media only screen and (max-width: 520px){
    .video-container {
        min-height: auto;
    }

    .gallery-container {
        padding: 0;
    }

    .gallery-flex::after {
        height: 180px;
        right: 1em;
    }
}