@import '../../../../global/globalstyles.css';

.academic_sub {
    color: #502669;
    /* margin: 5px 10px; */
    padding: 0 10px;
    font-size: 14px;
    box-sizing: border-box;
    padding: 0.5em;
    list-style: none;
    margin: 0;
}

.academic_sub:hover{
    cursor: pointer;
}

.academic_sub::after{
    content: '';
    border-right: 1px solid #502669;
    margin: 0.5em;
    margin-left: 1.5em;
}


.positions {
    padding: 0;
    margin: 0;
    margin-bottom:2em;
}   

.submenu {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}


@media only screen and (min-width: 1000px){

    section{
        margin-top: 4em;
    }

}

@media only screen and (max-width: 1000px){
    .academic_sub {
        border: none;
        font-size: 14px;
        margin: 1em;
        padding: 0;
        line-height: normal;
    }

    .academic_sub::after{
        margin: 1em;
    }
    

    .submenu {
        justify-content: flex-start
    }
}

@media only screen and (max-width: 500px){
    .academic_sub {
        margin: 10px 0;
        font-size: 13px;
    }
    .academic_sub::after{
        border: none;
    }
}