span {
    color: #502669;
    margin: 5px 10px;
    padding: 0 10px;
    /* border-left: 1px solid #502669; */
    border-right: 1px solid #502669;
}

span:hover{
    cursor: pointer;
}

.positions {
    padding: 0;
    margin: 0;
    margin-bottom:2em;
}   

.submenu {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

@media only screen and (max-width: 780px){
    span {
        border: none;
        margin: 10px 0;
        padding: 0;
    }

    .submenu {
        justify-content: flex-start
    }
}