.academic_sub {
    color: #502669;
    margin: 5px 10px;
    padding: 0 10px;
    /* border-left: 1px solid #502669; */
    border-right: 1px solid #502669;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0.5em;
}

.academic_sub:hover{
    cursor: pointer;
}

.positions {
    padding: 0;
    margin: 0;
    margin-bottom:2em;
}   

.submenu {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

@media only screen and (max-width: 780px){
    .academic_sub {
        border: none;
        font-size: 14px;
        margin: 5px 0;
        padding: 0;
        line-height: normal;
    }

    .submenu {
        justify-content: flex-start
    }
}