@import '../../../global/globalstyles.css';

.profile-card {
    width: 250px;
    display: inline-block;
    -webkit-box-shadow: -5px -2px 2px 4px var(--light-teal);
    box-shadow: -6px -5px 1px 0px var(--light-teal);
    position: relative;
    height: auto;
}

.profile-card:hover > .label{
    box-shadow: 8px 6px 5px 0px rgba(0,0,0,0.15);
}


.background {
    width:100%;
    height: 250px;
    position: relative;
}

.fit {
    width: 100%;
    object-fit: cover;
}

.logoContainer{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-size: cover;
    background-position: center center;
}


.label {
    margin: 0;
    min-height: 100px;
    padding: 1em;
    position: relative;
    background-color: white;
    /* max-height: 200px; */
    -webkit-box-shadow: 0.5px 3px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: .5px 3px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0.5px 3px 5px 0px rgba(0,0,0,0.15);
    transition: box-shadow 0.2s ease-in;
}

.name {
    color: #502865;
    font-weight: bold;
    font-family: bree_serifbold, bree-serif, serif;
    font-weight: 600;
    font-size: 18px; 
    margin-top: 60px;
    margin-bottom: 0px;
    text-transform: capitalize;
    cursor: pointer;
} 



.link{
    margin: 5px;
    display: inline-block;
    font-size: 14px;
    color: var(--dark-teal);
    border-bottom: 1px dashed var(--dark-teal);;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

span {
    display: block;
}



@media only screen and (max-width: 1030px){
    .profile-card {
        width: 215px;
    }

    .fit, .background {
        height: 180px;
    }

    .label {
        margin: 0;
        padding: 0.5em;
    }
    .name {
        margin-top: 80px;
    }
}

@media only screen and (max-width: 780px){
    .position {
        font-size: 12px;
    }

    .logoContainer{
        top: 55%;
    }
}

@media only screen and (min-width: 630px) and (max-width: 780px){
    .profile-card {
        width: 180px;
    }
}

@media only screen and (max-width: 630px){
    .profile-card {
        width: 215px;
    }

    .name {
        line-height: 25px;
    }
}

@media only screen and (min-width: 466px) and (max-width: 530px){
    .profile-card {
        width: 140px;
    }

    .fit, .background {
        height: 180px;
    }
}

@media only screen and (min-width: 430px) and (max-width: 465px){
    .profile-card {
        width: 140px;
    }

    .fit, .background {
        height: 180px;
    }
}

@media only screen and (max-width: 445px){
    .profile-card {
        width: 200px;
    }
    .fit, .background {
        height: 200px;
    }

    .name {
        font-size: 16px;
    }

    .link {
        font-size: 14px;
    }

    .label {
        margin: 0;
        padding: 0.3em;
    }
}
@media only screen and (max-width: 435px){
    .profile-card {
        width: 280px;
    }
}


.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  