@import '../../../global/globalstyles.css';

.profile-card {
    width: 100%;
    /* min-width: 200px; */
    width: 250px;
    display: inline-block;
    -webkit-box-shadow: -5px -2px 2px 4px rgb(25, 163, 156, 0.6);
    box-shadow: -6px -5px 1px 0px rgb(25, 163, 156, 0.6);
}


.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}

.image {
    width:100%;
    position: relative;
    height: 250px;
}

.fit {
    width: 100%;
    height: 250px;
    object-fit: cover;
}


.label {
    margin: 0;
    padding: 1em;
    background-color: white;
    /* max-height: 200px; */
    -webkit-box-shadow: 0.5px 3px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: .5px 3px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0.5px 3px 5px 0px rgba(0,0,0,0.15);
}

.name {
    color: #502865;
    font-family: bree-serif, serif;
    /* font-family: bree_serifsemibold; */
    /* line-height: 32px; */
    font-size: 18px; 
    font-weight: 600;
    margin-bottom: 0px;
    text-transform: capitalize;
    cursor: pointer;
} 


.position {
    font-family: 'open sans';
    color: #515151;
    font-size: 12px;
    margin-bottom: 0;
    font-weight: bold;
    padding: 5px 0;
    margin-bottom: 15px;
    line-height: normal;
    
}

.link{
    margin: 5px;
    display: inline-block;
    font-size: 14px;
    color: #1aa29c;
    border-bottom: 1px dashed #1aa29cb0;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none
}

span {
    display: block;
}



@media only screen and (max-width: 1030px){
    .profile-card {
        width: 215px;
    }

    .fit, .image {
        height: 180px;
    }

.label {
    margin: 0;
    padding: 0.5em;
}
}

@media only screen and (max-width: 780px){
    .position {
        font-size: 12px;
    }
}

@media only screen and (min-width: 630px) and (max-width: 780px){
    .profile-card {
        width: 180px;
    }
}

@media only screen and (max-width: 630px){
    .profile-card {
        width: 215px;
    }

    .name {
        line-height: 25px;
    }
}

    @media only screen and (min-width: 466px) and (max-width: 530px){
        .profile-card {
            width: 180px;
        }

        .fit, .image {
            height: 180px;
        }
    }

    @media only screen and (min-width: 430px) and (max-width: 465px){
        .profile-card {
            width: 160px;
        }

        .fit, .image {
            height: 180px;
        }
    }
/* 
@media only screen and (max-width: 480px){
    .profile-card {
        width: 130px;
    }
    .fit, .image {
        height: 200px;
    }

    .position {
        display: none;
    }

    .name {
        font-size: 16px;
    }

    .link {
        font-size: 14px;
    }

    .label {
        margin: 0;
        padding: 0.3em;
    }
} */

@media only screen and (max-width: 436px){
    .profile-card {
        width: 230px;
    }
    .fit, .image {
        height: 200px;
    }

    .name {
        font-size: 16px;
    }

    .link {
        font-size: 14px;
    }

    .label {
        margin: 0;
        padding: 0.3em;
    }
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-3-18 11:55:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  