@import '../../../global/globalstyles.css';

.image-text {
    /* max-width: 700px; */
    display: flex;
    justify-content: center;
}


.info {
    padding: 30px;
    width: 50%;
}

.image {
    width: 50%;
}

.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


@media only screen and (max-width: 600px){
    .image-text {
        flex-direction: column!important;
        width: 100%
    }

    .info {
        width: auto;
    }

    .image {
        justify-content: center;
        width: 80%;
        margin: auto
    }


}
