/* CTAs */
.buttonCTA {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #fff;
    width: fit-content;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    /*margin: 30px auto 10px;*/
    margin: 15px auto;
    display: table;
    font-size: 14px;
    -webkit-box-shadow: 4px 3px 9px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 3px 9px -2px rgba(0,0,0,0.3);
    box-shadow: 4px 3px 9px -2px rgba(0,0,0,0.3);
    transition-duration: 1s;}

.buttonCTA:hover {opacity: 0.8;}

.buttonCTA a {color: white; padding: 7px 30px; display: block;}
  

.buttonCTA.purpleBorder {
    border: 1px solid #502865;
    color: #502865;}
    
.buttonCTA.purpleBorder a { color: #502865;}
.buttonCTA.purpleBorder:after { color: #502865;}
.buttonCTA.purpleBorder:hover {background: #502865; color: white;}
.buttonCTA.purpleBorder:hover a,
.buttonCTA.purpleBorder:hover:after {color: white;}

.buttonCTA.purpleBorder:focus {
    background: #4e2565;
    border: 1px solid #402050;}


.buttonCTA.purpleBorder.icon:before {
    color: #502764;}

@media (min-width: 769px) {
.buttonCTA {  margin: 25px 0;}
}  




a[disabled="disabled"],
a[disabled="disabled"]:hover{
    opacity: 0.5;
    cursor: no-drop;}

