@import '../../../global/globalstyles.css';

.kclsu_search {
    font-size: 25px!important;
    border: 2px solid var(--light-teal)!important;
    color:var(--dark-teal);
    margin: 1.5em 0!important;  
    max-width: 800px;
    border-width: 2px!important;
    border-style: solid;
    border-color: var(--light-teal)!important;
    border-image: initial;
    padding: 0.6em!important;
    width: 360px!important;
}

@media only screen and (max-width: 480px){
.kclsu_search {
        padding: 0.3em!important;
        width: 280px!important;
    } 
}

.kclsu_search:focus{
    border-color: var(--mid-teal)!important;
    outline: var(--mid-teal) auto 5px!important;
}

.hide {
    display: none;
}

.transition {
    transition: top 3s;
    transition-delay: 2s;
}

.noresults {
    text-align: center!important;
    color: var(--purple)!important;
    font-weight: bold;
    margin: 1em!important;
    font-size: 18px!important;
    display: block!important;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  