@import '../../global/globalstyles.css';

.app {
    /* width: 100vw; */

    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: gainsboro;
}

.presets {
    align-self: flex-start;
    min-width: 25%;
    height: 100%;
    margin: 1em;
    /* display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap; */
}

.instructions {
    padding: 2em;
}

.image {
    width: 70%;
    height: auto;
    margin: auto;
    /* border: 5px solid teal; */
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1em;
}

.empty {
    min-width: 250px;
    min-height: 500px;
    background-color: lightsteelblue;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
}