@import '../../../../src/global/globalstyles.css';


.kclsu-tabs {

    &-primary {
        margin: 4em;
        

        &-titles {
            padding: 20px;
            background-color: #e8e8e2;
        }
    }

    &-secondary-titles, &-tertiary-titles  {
        padding: 0;
        list-style: none;
        background-color: transparent;
    }

    @media (max-width: 780px){
        margin: 0.5em;
    }

    ul {
        @include flex-me(center, center);
        margin: 0;
        box-sizing: border-box;

        @media (max-width: 780px){
            padding: 10px
        }

    }
}
