@import '../../../global/globalstyles.css';

.preset-container {
    width: 150px;
    height: auto;
    display: inline-block;
    margin: 1em;
    cursor: pointer;
    box-shadow: 7px -7px 5px 0px rgb(21, 132, 126);
    transition: box-shadow 0.1  s ease-in;
}

.preset-container:hover {
    box-shadow: 7px -7px 5px 0px #502766;
}

.dimensions {
    width: 100%;
    height: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:center;
}

.dimensions span {
    font-size: 25px;
    color: #502766;
    transform: rotate(-45deg)
}

.title {
    margin-top: 0.5em;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: white;
}

    .preset-container {
        width: 120px;
        margin: 0.5em;
    }
    .dimensions {
        height: 120px;
    }
    
    .dimensions span {
        font-size: 20px;
    }

    .title {
        font-size: 16px;
    }


@media only screen and (max-width: 690px){
    .preset-container {
        width: 120px;
    }
    .dimensions {
        height: 80px;
    }
    
    .dimensions span {
        font-size: 18px;
        transform: rotate(0)
    }
}

@media only screen and (max-width: 480px){
    
    .preset-container {
        width: 120px;
        margin: 1em;
    }
    .dimensions {
        height: 40px;
    }
    
    .dimensions span {
        font-size: 16px;
    }

    .title {
        margin-top: 0;
    }
    .instructions {
        padding: 0.5em;
    }
}

