.Modal {
    width: auto;
    min-width: 40%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 30px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    max-height: 85%;
    overflow-y: scroll;
    z-index: 2000;
}

.Modal-Standard {
    left: 50%;
    top: 50%;
    background-color: white;
}

.Backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5)
}

@media (max-width: 800px) {
    .Modal {
        max-height: 70%;
        padding: 30px 15px;
    }

    .Modal-Standard {
        width: 85%;
        left: 50%;
    }
}