.Modal {
    left: 50%;
    top: 50%;
    /* transform: translate(-50%, -50%); */
    z-index: 500;
    background-color: white;
    width: auto;
    min-width: 40%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 30px;
    /* left: 15%;
    top: 20%; */
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    max-height: 85%;
    overflow-y: scroll;
}

.Backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5)
}

@media (max-width: 600px) {
    .Modal {
        width: 85%;
        left: 50%;
        max-height: 70%;
        padding: 0;
    }
}