@import '../../../global/globalstyles.css';


a{
    text-decoration: none;
    cursor: pointer;
}


.card {
    height: auto;
    padding: 5px;
    background: #fff;
    position: relative;
    -webkit-box-shadow: 0.5px 3px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: .5px 3px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0.5px 3px 5px 0px rgba(0,0,0,0.15);
    border: 1px solid #eaeaea;
    transition: box-shadow 0.5s;
    /* margin-top: 10px; */
}

.card:hover{
    box-shadow:8px 5px 5px 0px rgba(0,0,0,0.15);
}

.card::before {
    content: "";
    background: var(--light-teal);
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
}

@media only screen and (min-width: 1000px){
    .card{
        max-width: 800px;
    }
}


.title {

    font-size: 17px;
    line-height: 22px;
    color: var(--purple);
    display: inline-block;
    font-weight: bold;
    font-family: bree_serifbold, bree-serif, serif;
    font-weight: 600;
    margin-bottom: 5px;
    padding: 0 20px;
    vertical-align: middle;
    text-align: left;

}


.content{
    height: 100%;
    width: 100%;
    padding: 0 0.5em;
}

.content p {
    font-size: 16px;
    color: black;
    font-size: 14px;
    padding: 0 20px;
    margin: 0;
}


@media only screen and (max-width: 350px){
    .title{
        font-size: 16px;
    }
}