@import '../../../global/globalstyles.css';

a {
    margin: 15px 20px 10px;
    border-radius: 30px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #fff;
    width: fit-content;
    cursor: pointer;
    position: relative;
    display: table;
    font-size: 14px;
    -webkit-box-shadow: 4px 3px 9px -2px rgba(0, 0, 0, .3);
    -moz-box-shadow: 4px 3px 9px -2px rgba(0, 0, 0, .3);
    box-shadow: 4px 3px 9px -2px rgba(0, 0, 0, .3);
    transition-duration: 1s;
}

.purple {
    border: 1px solid #502865;
    color: #502865;
}

.green {
    color: white;
    background: #14847e;
}

.small {
    font-size: 14px;
    padding:  0 15px;
    border: none;
}

.big {
    margin: 15px auto;
    padding: 7px 40px 7px 20px;
}

.rounded {
    border-radius: 3px;
}