@import '../../../global/globalstyles.css';

:host {
    margin: 1em;
}

a {
    box-sizing: border-box;
    border: 1px solid #14847e;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    -webkit-box-shadow: 4px 3px 9px -2px rgba(0, 0, 0, .3);
    -moz-box-shadow: 4px 3px 9px -2px rgba(0, 0, 0, .3);
    box-shadow: 4px 3px 9px -2px rgba(0, 0, 0, .3);
    transition-duration: 1s;
    font-size: 14px;
    margin: 15px;
    padding: 10px 30px;
}

/* a {
    margin: 15px 20px 10px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #fff;
    width: fit-content;
    cursor: pointer;
    position: relative;
    display: table;
    font-size: 14px;
    -webkit-box-shadow: 4px 3px 9px -2px rgba(0, 0, 0, .3);
    -moz-box-shadow: 4px 3px 9px -2px rgba(0, 0, 0, .3);
    box-shadow: 4px 3px 9px -2px rgba(0, 0, 0, .3);
    transition-duration: 1s;
} */

.purple {
    border: 1px solid #502865;
    background-color: white;
    color: #502865;
}

.purple:hover {
    border: 1px solid #502865;
    background-color: #502865;
    color: white;
}

.green {
    color: white;
    background: #14847e;
    border: 1px solid #14847e;
}

.green:hover {
    color: #14847e;
    background: white;
    border: 1px solid #14847e;
}


.small {
    font-size: 14px;
    padding:  5px 18px;
}

.verysmall {
    font-size: 12px;
    padding:  0px 10px;
    margin: 0px!important;
}

/* .big {
    font-size: 14px;
    margin: 15px auto;
    padding: 10px 30px;
} */

.rounded {
    border-radius: 30px;
}

@media only screen and (max-width: 480px){
    :host {
        width: 100%;
        text-align: center;
        margin: 0.5em;
        margin-bottom: 0;
    }
    a{
        width: 100%;
    }
}