@import '../../../global/globalstyles.css';

.grid {
	display: grid;
	grid-template-columns: 20% 60% 20%;
	grid-template-rows:
    minmax(300px, auto) 
		90px 
		minmax(250px, auto) 
		90px 
		350px;
}

.section {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
background-color: var(--purple);
min-height: 350px;
}

.card {
  grid-column: 2 / span 1;
	padding: 0;
  grid-row: 2 / span 3;
	z-index: 10;
}

.image {
  grid-column: 1 / span 3;
  grid-row: 4 / span 3;
    background-color: var(--light-grey);
}

.random {
    height: 200px;
    background-color: var(--purple);
}

@media (min-width: 1100px){
    .image {
        height: 100%;
        max-height: 550px;
    }
}

@media (max-width: 1300px){
  .grid {
    grid-template-columns: 10% 80% 10%;
  }  
}

@media (max-width: 800px){
    .grid {
        grid-template-columns: 5% 90% 5%;
    }  
}