@import '../../../global/globalstyles.css';

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    border: 8px solid var(--light-teal);
}

form span {
    font-size: 16px;
    line-height: 25px;
}

label, input {
    display: inline-block;
}

label {
    font-size: 16px;
    margin: 0 1em;
}

input {
    display: inline;
    min-width: 80px;
    border: 2px solid var(--warm-grey);
    font-size: 18px;
    border-top: none;
    border-right: none;
    border-left: none;
    caret-color: var(--grey);
    color: var(--grey);
    padding:0.5em;
}


.inputfield {
    position: relative;
    justify-content: center;
    margin: 1em auto;
    text-align: left;
}


.inputfield span {
    display: block;
    text-align: center;
    color: var(--orange);  
    font-weight: bold;
}

.inputfield label, .title {
    font-family: bree_serifsemibold, bree-serif, serif;
    color: var(--purple);
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 1em;
}

.title {
    font-size: 22px;
}

.error {
    color: var(--orange);  
    font-weight: bold;
    margin: 1em;
    display: block;
    text-align: center;
}

@media (max-width: 480px){

input {
    display: block;
}
.inputfield {
    text-align: center;
}
}