form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
}

form span {
    font-size: 16px;
    line-height: 25px;
}

label, input {
    display: inline-block;
}

label {
    font-size: 16px;
    margin: 0 1em;
}

input {
    display: inline;
    min-width: 80px;
    border: 1px solid #502669;
    font-size: 18px;
    border-top: none;
    border-right: none;
    border-left: none;
}

.flex {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}
.title {
    color: #502669;
    font-weight: bold;
    text-align: center;
    margin: 1em;
}
button {
    padding: 1em;
    cursor: pointer;
    -webkit-box-shadow: 0.5px 3px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: .5px 3px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0.5px 3px 5px 0px rgba(0,0,0,0.15);
    font-size: 16px;
    width: 100px;
    margin: 1em auto;
}

.error {
    color: red;
    font-weight: bold;
}