@import '../../../../../global/globalstyles.css';

ul {
    margin: 0;
    margin-top: 3.5em;
    padding: 0;
}

li {
    list-style: none;
    padding: 0em;
    color: black;
    cursor: pointer;
    -webkit-box-shadow: 0.5px 3px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: .5px 3px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0.5px 3px 5px 0px rgba(0,0,0,0.15);
    font-size: 16px;
    margin:1em;
    padding: 0.6em;
    position: relative;
}

a{
    display: table;
    padding: 5px 20px;
    margin: 15px 20px 10px;
    color: white;
    background: #14847e;
    border-radius: 30px; 
    font-size: 18px;
    cursor: pointer;
    -webkit-box-shadow: 4px 3px 9px -2px rgba(0, 0, 0, .3);
    -moz-box-shadow: 4px 3px 9px -2px rgba(0, 0, 0, .3);
    box-shadow: 4px 3px 9px -2px rgba(0, 0, 0, .3);
}