@import '../../../../../global/globalstyles.css';

.info {
    align-self: flex-end;
    margin: 0 0 2em 1em;
}

span {
    display: block;
    font-size: 16px;
}

.icon {
    width: 40%;
    height: auto;
}

.icon img {
    width: 100%;
    height: auto;
}