@import '../../../global/globalstyles.css';

.grid{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 220px;
    grid-auto-flow: dense;
    background-color:#e8e8e8;
    padding: 1em;
}

.wide {
    grid-column: span 2;
}

.v-wide {
    grid-column: span 3;
}

.tall {
    grid-row: span 2;
}

.v-tall {
    grid-row: span 3;
}

.item {
    background-color: white;
    position: relative;
}

h2 {
    margin: 0;
    padding-left: 1em;
    color: #e22219;
}

p {
    padding: 1em;
    font-size: 16px;
    line-height: 25px;

}

.tilelabel{
    position: absolute;
    top: 0;
    left: 0;
    background-color:#e22219;
    color: white;
    padding: 0.5em;
    z-index: 100;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 4px 5px 4px 1px;
    -moz-box-shadow: .5px 3px 5px 0px rgba(0,0,0,0.15);
    box-shadow: rgba(0, 0, 0, 0.15) 4px 5px 4px 1px;
}

.tilelabel a {
    color: white;
    /* text-decoration: underline; */
}

.score-container {
    margin: 1em 0;
    min-height: 100px;
}

.button{
    display: table;
    padding: 5px 20px;
    margin: 15px 20px 10px;
    color: white;
    background: #14847e;
    border-radius: 30px; 
    font-size: 18px;
    cursor: pointer;
    -webkit-box-shadow: 4px 3px 9px -2px rgba(0, 0, 0, .3);
    -moz-box-shadow: 4px 3px 9px -2px rgba(0, 0, 0, .3);
    box-shadow: 4px 3px 9px -2px rgba(0, 0, 0, .3);
}

/* .narrow {
    grid-column: span 1;
} */


@media only screen and (min-width: 500px) and (max-width: 780px){
    .item {
        background-color: white;
        position: relative;
        span: 1;
        grid-column: span 2;
    }
}
@media only screen and (max-width: 500px){

    .grid{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-rows: 250px;
        padding: 0.5em;
    }
    .wide {
        grid-column: span 2;
    }
    
    .verywide {
        grid-column: span 2;
    }

    .image {
        grid-column: span 1;
    }
    
    .tall {
        grid-row: span 1;
    } 
}

@media only screen and (max-width: 350px){

    .grid{
        grid-auto-rows: 280px;
    }
}