@import '../../../global//globalstyles.css';

.countdown {
    width: 100%;
    height: auto;
}

.flex {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.timeBlock {
    width: 10px;
    flex-grow: 1;
    height: auto;
    padding: 0.5em;
    margin: 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    position: relative;
    -webkit-box-shadow: 0.5px 3px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: .5px 3px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0.5px 3px 5px 0px rgba(0,0,0,0.15);
    border: 1px solid #eaeaea;
    margin-top: 0;
}

.timeBlock span:nth-child(odd){
    font-weight: bold;
    font-family: bree_serifsemibold, bree-serif, serif;
    font-weight: 600;
    color: var(--purple);
    font-size: 4em;
}

.timeBlock span:nth-child(even){
    font-size: 1em;
    line-height: 20px;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 32px;
    color: var(--grey);
    font-weight: 400;
}

.text {
    text-align: center;
    display: block;
    font-size: 1.5em;
    margin: 0.5em 0;
    color: var(--purple);
    font-weight: bold;
    font-family: bree_serifsemibold, bree-serif, serif;
    font-weight: 600;
}


@media (max-width: 1200px){

    .timeBlock {
        padding: 0.25em;
        min-height: 60px;
    }

    .timeBlock span:nth-child(odd){
        font-size: 3em;
    }
    .timeBlock span:nth-child(even){
        font-size: 0.8em;
    }
    .text {
        font-size: 1.2em;
    }
    
}


@media (max-width: 600px){

    .timeBlock {
        padding: 0.25em;
        height: 60px;
    }

    .timeBlock span:nth-child(odd){
        font-size: 2em;
    }
    .timeBlock span:nth-child(even){
        font-size: 0.6em;
    }
   
}
