.dc-video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px; height: 0; overflow: hidden;
    margin-bottom: 1em;
    }
    
    .dc-video-container iframe,
    .dc-video-container object,
    .dc-video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
    