.button{
    display: table;
    padding: 5px 20px;
    margin: 15px 20px 10px;
    color: white;
    background: #14847e;
    border-radius: 30px; 
    font-size: 18px;
    cursor: pointer;
    -webkit-box-shadow: 4px 3px 9px -2px rgba(0, 0, 0, .3);
    -moz-box-shadow: 4px 3px 9px -2px rgba(0, 0, 0, .3);
    box-shadow: 4px 3px 9px -2px rgba(0, 0, 0, .3);
}

.container {
    min-width: 50%;
    padding: 1em;
    border: 2px solid #14847e;
}

.admin {
    max-width: 90%;
    margin: 2em auto;
    height: auto;
}