.tab-content {
    display: none;
    background: #f1f1ee;
    padding: 40px 30px;
}

.tab-content-active {
    display: block;
}

@media screen and (max-width: 780px){
    .tab-content {
        padding: 1em;
    }
}


/* @media screen and (max-width: 80px){
    .tab-content {
        padding: 1em;
    }
} */

