@import '../../../../global/globalstyles.css';

.tab-header {
    min-height: 40px;
    min-width: 100px;
    margin: 0 1em;
    padding: 5px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.tab-header h6 {
    margin: 0 0 0px;
    font-family: bree_serifbold, bree-serif, serif;
}


@media (max-width: 599px) {
    .tab-header {
        min-width: 50px;
        margin: 0;
    }

    h6 {
        margin: 0px 0px 0px;
    }
}

.tab-header-active {
    border-bottom: 3px solid #1BA39C;
}